// ===================================
// Mixins
// ===================================

// レスポンシブ対応
//ブレイクポイントの値
$breakpoints: (
  sp: 375,
  md: 768,
  lg: 1024,
  xl: 1440,
);

//メディアクエリー
$mediaqueries: (
  sp: "screen and (min-width: #{map-get($breakpoints,'sp')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// ブレイクポイントの設定
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaqueries, $mediaquery)} {
    @content;
  }
}


// pxをvwに変換する関数
@function px-to-vw($px, $base: 1440px) {
  @return ($px / $base) * 100vw;
}

// vwに応じて可変するようにmixinを作成
@mixin clamp-px-vw($prop, $min-px, $pref-px, $max-px, $base: 1440px) {
  #{$prop}: clamp($min-px, px-to-vw($pref-px, $base), $max-px);
}