// ===================================
// Variables
// ===================================

// カラー
$white: #ecece7;
$green: #a28d69;
$black:  #191919;



// フォント
$base-font: "Viga", "Noto Serif JP", sans-serif;
$noto-serif-jp: "Noto Serif JP", sans-serif;
$poppin: "Poppins", sans-serif;

// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$extrabold: 900;

// z-index
$mv-title: 100;
$drawer: 200;
$header: 300;
$hamberger: 400;
