// ===================================
// Variables
// ===================================

// カラー
$white: #fff;
$blue: #4b6cb7;
$black:  #191919;
$red: #b8614b;
$purple: #182848;
$gray:  #f0f0f0;



// フォント
$font-family-base: 'Noto Sans JP', sans-serif;
$base-font: 16px;

// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$extrabold: 900;

// z-index
$mv-title: 100;
$drawer: 200;
$header: 300;
$hamberger: 400;
