@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/responsive";

/* ===================================
   About Page Styles
   =================================== */

.about__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about__title {
  background-image: url(../../images/about/shinichiro1.webp);
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  color: transparent;
  font-weight: $regular;
  line-height: 1.2;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /*画像の位置を決める*/
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.about__top {
  height: 150vh;
  width: 100vw;
  background: white;
  opacity: 0.8;
  overflow: hidden;
  position: relative;
}

.about__main {
  background-color: white;
  position: relative;
  z-index: 2;
  background-color: white;
}

.about__main-inner {
  padding: 100px 35px;
  max-width: 1000px;
  margin: 0 auto;
  @include mq(md) {
    padding: 60px 15px;
    width: 100%;
  }
}

.name__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.name__title-text-ja {
  font-size: 24px;
  font-weight: $bold;
  color: $black;
  display: block;
  font-family: $noto-serif-jp;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: 20px;
  }
}

.name__title-text-en {
  font-size: 60px;
  font-weight: $bold;
  color: $black;
  display: block;
  margin-top: 20px;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: 40px;
  }
}

.name__role {
  font-size: 20px;
  font-weight: $regular;
  color: $black;
  opacity: 0.5;
  padding: 30px 0 30px 30px;
  border-left: 1px solid $black;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: 16px;
    padding: 10px 0 10px 0;
    border-left: none;
    margin-top: 10px;
  }
}

.about__items {
  margin-top: 50px;
}

.about__item {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 30px;
  @include mq(md) {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 20px;
  }
}

.about__item-title {
  font-size: 28px;
  font-weight: $bold;
  color: $black;
  width: 20%;
  letter-spacing: 0.1em;
  @include mq(md) {
    font-size: 24px;
    width: 100%;
  }
}

.about__item-content {
  width: 75%;
  @include mq(md) {
    width: 100%;
    margin-top: 20px;
  }
}

.about__item-content-ja {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  line-height: 1.7;
  font-family: $noto-serif-jp;
  @include mq(md) {
    font-size: 14px;
  }
}

.about__item-content-en {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  margin-top: 30px;
  letter-spacing: 0.1em;
  line-height: 1.7;
  font-family: $noto-serif-jp;
  @include mq(md) {
    font-size: 14px;
  }
}

