/* ===================================
   Top Page Styles
   =================================== */
@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/responsive";

.header {
  position: fixed;
}
// Top page specific styles
.mv {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mv__title {
  font-size: 40px;
  font-weight: $regular;
  color: $black;
  text-align: center;
  letter-spacing: 0.1em;
  @include mq("md") {
    font-size: 30px;
  }
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
  animation: blink 0.4s step-end infinite;
}

@keyframes blink {
  0%,
  50% {
    border-color: #666;
  }
  51%,
  100% {
    border-color: transparent;
  }
}

// Works Section
.works {
  padding: 80px 0;
}


.works__container {
  // max-width: 1200px;
  margin: 0 auto;
}

.works__title {
  font-size: 36px;
  font-weight: $regular;
  text-align: center;
  margin-bottom: 60px;
  color: $black;
  letter-spacing: 0.1em;
}

.swiper {
  width: 100%;
  padding: 20px 0 60px;
}

.swiper-slide {
  transition-timing-function: linear;
}

.works__item {
  width: 200px;
  aspect-ratio: 361 / 650;
  position: relative;
  border-radius: 8px;
  border: 2px solid $black;
  @include mq("md") {
    width: 230px;
  }
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
}

.work__item-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.is-slideUp{
  transform: translateY(-100%);
  opacity: 0;
  @include mq("md") {
    transform: translateY(100%);
    opacity: 0.9;
  }
}

.works__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $black;
  transition: all 0.3s ease;
  margin: 60px auto 0;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background-color: rgb(95, 186, 247);
      border: 2px solid $black;
    }
  }
}

.works__button-link {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

.works__button-text {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

// Blog Section
.blog {
  padding: 80px 0;
}

.blog__container {
  max-width: 1200px;
  margin: 0 auto;
}

.blog__title {
  font-size: 36px;
  font-weight: $regular;
  text-align: center;
  margin-bottom: 60px;
  color: $black;
  letter-spacing: 0.1em;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  align-items: flex-start;
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
}

.blog__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.blog__item-inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $black;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    z-index: 1;
    transition: all 0.3s ease;
  }
  @media (hover: hover) {
    &:hover {
      &::after {
        opacity: 0;
      }
    }
  }
}

.blog__item:nth-child(even) .blog__item-inner {
  border: 2px solid $black;
  &::after {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.blog__item-image {
  width: 100%;
  height: 100%;
  object-position: center;
}

.blog__item-link {
  cursor: pointer;
}

.blog__item-title {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  text-align: left;
}

.blog__button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: $black;
  transition: all 0.3s ease;
  margin: 60px auto 0;
  cursor: pointer;
  @media (hover: hover) {
    &:hover {
      background-color: rgb(252, 105, 13);
      border: 2px solid $black;
    }
  }
}

.blog__button-link {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
}

.blog__button-text {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  display: block;
  margin: 20px auto 0;
  text-align: center;
}

.is-bouncing {
  animation: bounce 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* バウンドアニメーションの定義 */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px); /* 上に跳ねる高さ */
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px); /* 少しだけ跳ねる高さ */
  }
  80% {
    transform: translateY(0);
  }
}


// Contact Section
.contact {
  padding: 80px 0;
}

.contact__container {
  max-width: 800px;
  margin: 0 auto;
  border: 2px solid $black;
  border-radius: 8px;
  height: 200px;
  transition: all 0.3s ease;
  @media (hover: hover) {
    &:hover {
      pointer-events: none;
      border-radius: 50%;
      background-color: black;
      & .contact__title {
        color: $white;
      }
    }
  }
  @include mq("md") {
    width: 300px;
    height: 150px;
  }
}

.contact__link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
}

.contact__title {
  font-size: 36px;
  font-weight: $regular;
  text-align: center;
  color: $black;
  letter-spacing: 0.1em;
  @include mq("md") {
    font-size: 24px;
  }
}