/* ===================================
   Top Page Styles
   =================================== */
@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../abstracts/responsive';

// Top page specific styles
.mv {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv__title {
  font-size: 40px;
  font-weight: $regular;
  color: $black;
  text-align: center;
  letter-spacing: 0.1em;
  @include mq("md"){
    font-size: 30px;
  }
}

.txt-rotate > .wrap { 
  border-right: 0.08em solid #666;
  animation: blink 0.4s step-end infinite;
}

@keyframes blink {
  0%, 50% { border-color: #666; }
  51%, 100% { border-color: transparent; }
}



