// ===================================
// Footer Layout
// ===================================

.footer {
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index:3;
}

.footer__container {  
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em;
}