// ===================================
// Header Layout
// ===================================

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  width: 100%;
  @include mq("md"){
    display: block;
    flex-direction: column;
    height: auto;
    padding: 0 5px;
  }
}


.header__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $black;
  @include mq("md"){
    margin: 30px auto 0;
  }
}

.header__right {
  @include mq("md"){
    margin-top: 20px;
  }
}

.header__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid $black;
}

.header__btns {
  display: flex;
  align-items: center;
  column-gap: 20px;
  @include mq("md"){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

.header__btn{
  font-size: 20px;
  font-weight: $normal;
  color: $black;
  text-decoration: none;
  letter-spacing: 0.1em;
  @include mq("md"){
    font-size: 16px;
    text-align: center;
    border: 1px solid $black;
  }
}

.header__link{
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  @include mq("md"){
    padding: 15px 0;
  }
}


