// ===================================
// Header Layout
// ===================================

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $header;
  @include mq("md") {
    display: block;
    flex-direction: column;
    height: auto;
    padding: 0 5px;
  }
}

.header__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid $black;
  position: relative;
  transition: all 0.3s ease;
  @include mq("md") {
    margin: 30px auto 0;
  }
  @media (hover: hover) {
    &:hover {
      background-color: rgb(238, 98, 98);
    }
  }
}

@media (hover: hover) {
  .header__logo:hover::before,
  .header__logo:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 1px solid #72c8d5;
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    animation: pulsate 2s linear infinite;
  }

  .header__logo:hover::before,
  .header__logo:hover::after {
    border: 1px solid #0f1419;
  }

  .header__logo:hover::after {
    animation-delay: 1s;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.header__right {
  @include mq("md") {
    margin-top: 20px;
  }
}

.header__circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid $black;
}

.header__btns {
  display: flex;
  align-items: center;
  column-gap: 20px;
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

.header__btn {
  width: 140px;
  height: 100%;
  @include mq("md") {
    width: 100%;
  }
}

.header__btn-text {
  font-size: 20px;
  font-weight: $normal;
  color: $black;
  letter-spacing: 0.1em;
  @include mq("md") {
    font-size: 16px;
    text-align: center;
    border: 1px solid $black;
    padding: 15px 0;
  }
}

.header__link {
  display: block;
  width: 100%;
  text-decoration: none;
}
