@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/responsive";

/* ===================================
   Works Page Styles
   =================================== */

   .works__container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .works__title {
    background-image: url(../../images/about/shinichiro1.webp);
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    color: transparent;
    font-weight: $regular;
    line-height: 1.2;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /*画像の位置を決める*/
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .works__top {
    height: 150vh;
    width: 100vw;
    background: white;
    opacity: 0.8;
    overflow: hidden;
    position: relative;
  }
  
  .works__main {
    background-color: white;
    position: relative;
    z-index: 2;
    background-color: white;
  }
  
  .works__main-inner {
    padding: 100px 35px;
    max-width: 1400px;
    margin: 0 auto;
    @include mq(md) {
      padding: 60px 15px;
      width: 100%;
    }
  }