@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/responsive";

/* ===================================
   Blog Category Page Styles
   =================================== */
.blog__category-section {
  padding: 100px 35px;
  max-width: 1400px;
  margin: 0 auto;
  @include mq(md) {
    padding: 60px 15px;
    width: 100%;
  }
}

.blog__category-title{
  font-size: 32px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  text-align: center;
  @include mq(md) {
    font-size: 18px;
  }
}

   .blog__items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    @include mq(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      margin-top: 20px;
    }
  }
  
  .blog__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 200px;
    padding: 20px;
    margin: 0 auto;
  }


  .blog__item-image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 2px solid $black;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      transition: all 0.7s ease;
    }
    @media (hover: hover) {
      &:hover {
        border-radius: 50%;
        &::after {
          opacity: 0;
        }
      }
    }
  }
  
  .blog__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .blog__item-title {
    font-size: 16px;
    font-weight: $regular;
    color: $black;
    letter-spacing: 0.1em;
    text-align: left;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .blog__item-date {
    font-size: 12px;
    font-weight: $regular;
    color: $black;
    letter-spacing: 0.1em;
    text-align: left;
  }
