@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/responsive";

/* ===================================
   About Page Styles
   =================================== */

.about__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about__title {
  background-image: url(../../images/about/shinichiro.webp);
  background-clip: text;
  -webkit-background-clip: text;
  background-attachment: fixed;
  color: transparent;
  font-weight: bold;
  line-height: 1.2;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /*画像の位置を決める*/
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.about__top {
  height: 150vh;
  width: 100vw;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.about__main {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 2;
}

