@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/responsive";

/* ===================================
   Blog Page Styles
   =================================== */

.blog__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.blog__title {
  background-image: url(../../images/about/shinichiro3.webp);
  background-clip: text;
  background-attachment: fixed;
  color: transparent;
  font-weight: $regular;
  line-height: 1.2;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /*画像の位置を決める*/
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.blog__top {
  height: 150vh;
  width: 100vw;
  background: white;
  opacity: 0.8;
  overflow: hidden;
  position: relative;
}

.blog__main {
  background-color: white;
  position: relative;
  z-index: 2;
  background-color: white;
}

.blog__main-inner {
  padding: 100px 35px;
  max-width: 1400px;
  margin: 0 auto;
  @include mq(md) {
    padding: 60px 15px;
    width: 100%;
  }
}

.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.blog__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 200px;
  padding: 20px;
  margin: 0 auto;
  
}


.blog__item-image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  border: 2px solid $black;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.7s ease;
  }
  @media (hover: hover) {
    &:hover {
      border-radius: 50%;
      &::after {
        opacity: 0;
      }
    }
  }
}

.blog__item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.blog__item-title {
  font-size: 16px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  text-align: left;
  overflow: hidden;
}

.blog__item-date {
  font-size: 12px;
  font-weight: $regular;
  color: $black;
  letter-spacing: 0.1em;
  text-align: left;
}



